*{
	font-family: 'Press Start 2P', cursive;font-family: 'Press Start 2P', cursive;
}
:root{
	--bg-color:#000;
	--primary-color:#39ff14;
	--secondary-color:#fff111;
	--accent-color:#c600eb;
}
html {
}
body{
	background-color:var(--bg-color);
	color:var(--primary-color);
	font-size: 12px;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
}
header {
	height: 15%;
	min-height:80px;
}

main { min-height: 70%; }
main.scroll { 
	overflow-y: scroll;
	word-break: break-word;
	  }
@media screen and (min-width: 768px) {
	#main {
		margin-top: 60px;
	}
}

footer {
	height:15%;
	background-color: var(--secondary-color);
	color: var(--accent-color);
}
	
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
#title-container {
	border-bottom: 10px solid var(--accent-color);
	display: flex;
	justify-content: center;
}
#maintenance-container {
	font-size:40px;
}
.videotext-navigation__item {
	display: grid;
	grid-template-columns: repeat(2,auto);
	grid-column-gap: 10px;
	margin-bottom: 10px;
}
.videotext-navigation__title{
	overflow: hidden;
	white-space: nowrap;
}
.videotext-navigation__title:after{
	content: " .............................................................................................................................................................................";
}
.videotext-navigation__number {
	overflow: hidden;
}

#topline {
	display: flex;
	justify-content: space-between;
	padding:5px 5px 0;
}
@media (max-width: 767px) {
	h1 {
		font-size: 1.5em;
	}
	#topline {
		font-size: 0.9em;
	}
}
.date {
	display: flex;
	padding:5px;

	&__day {
		margin: 0 10px 0 0;
	}
}

.content-header {
	display: flex;
}
.content-container {
	display: flex;
	justify-content: center;
	position: relative;
}
.content-container--footer {
	align-items: center;
	height: 100%;
}
.content{
	padding: 5px;
	max-width: 800px;
}
.bar {
	content:"";
	width: 20px;
	height: 50px;
	background-color: var(--secondary-color);
	margin-right:10px;
}


.videotext-navigation {margin: 10px 0}

@media screen and( min-width: 768px ) {
	main { font-size: 16px; }
	.content{ max-width: 80%;}
	.bar{ height: 66px; }
}

.link {
	text-decoration: none;
	color: var(--primary-color);
}	

.contact {
	display: flex;
	justify-content:center;
	align-items: center;

	&__link {
		color: var(--accent-color);
		font-size: 2em;
	}
}

.block-declaration {
	text-decoration: underline; 
}

.flex-center {
	display: flex;
	justify-content: center;
}

// .movie-container { max-width: 100vw; }

.movie {
	width: 60%;
	min-width: 300px;
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	img{
		max-width: 300px;
		height: auto;
		max-height: 300px;
	}
}

.left, .right { 
	display: flex;
	justify-content: center;
	align-items: center;
}
.right {
	flex-direction: column;
}

.responsive {
	max-width: 100%;
	height: auto;
}

.js-swipe {
	position: absolute;
	top: 50%;
	color: inherit;
	font-size: 2.5em;
	a {
		text-decoration: none;
	}
}
.prev-page {
	left: 15px;
}
.next-page {
	right: 15px;
}