footer
	.content-container.content-container--footer
		.content
			.videotext-navigation
				.videotext-navigation__item
					.videotext-navigation__title Kontakt
					.videotext-navigation__number 800
				.videotext-navigation__item
					.videotext-navigation__title Impressum
					.videotext-navigation__number 900
				.videotext-navigation__item
					.videotext-navigation__title Datenschutz
					.videotext-navigation__number 950
script(src='https://code.jquery.com/jquery-3.3.1.min.js',integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=',crossorigin='anonymous')
script(type='text/javascript',src='/js/nicoputzehl.js')