.videotext-navigation
	.videotext-navigation__item
		.videotext-navigation__title Startseite
		.videotext-navigation__number 100
	.videotext-navigation__item
		.videotext-navigation__title Zuletzt gesehen
		.videotext-navigation__number 300
	.videotext-navigation__item
		.videotext-navigation__title Meine Brettspiele
		.videotext-navigation__number 400