mixin scoring(myscore)
	if myscore === 1
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
	if myscore === 1.5
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon half') ☆	
	if myscore === 2
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
	if myscore === 2.5
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon half') ☆
	if myscore === 3
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
	if myscore === 3.5
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon half') ☆
	if myscore === 4
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
	if myscore === 4.5
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon half') ☆
	if myscore === 5
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆
		span(class='star-icon full') ☆