extends layout

block content
	.contact
			a(class='link contact__link', href='&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#109;&#111;&#105;&#110;&#064;&#110;&#105;&#099;&#111;&#112;&#117;&#122;&#116;&#122;&#101;&#104;&#108;&#046;&#100;&#101') sag doch mal MOIN