extends layout

block content
	.impress
	p Angaben gemäß § 5 TMG
	p Nico Putzehl<br>Schützenkuhle 1<br>24937 Flensburg<br> 
	p
		span(class='block-declaration') Vertreten durch:
		| <br>Nico Putzehl
	p
		span(class='block-declaration') Kontakt:
		|<br> Telefon:
		a(href='tel:+491743100729', class='link') 0174-3100729
		|<br> E-Mail: 
		a(class='link',href='#') moin@nicoputzehl.de