doctype html
html(lang='de')
	head
		meta(charset='UTF-8')
		meta(name='theme-color',content='#c600eb' )
		meta(name='viewport',content='width=device-width, initial-scale=1')
		title='nicoputzehl.de'
		block links
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Press+Start+2P&amp;subset=latin-ext', rel='stylesheet')
	body
		header
			#topline
				.breadcrumb
					.breadcrumb__location
						#breadcrumb__location-number #{pageId}
					form(class='breadcrumb__form', onsubmit='inputCheck();', action='javascript:void(0)', method='post')
						input(type='number',class='breadcrumb__input', max='999', placeholder=100, oninput='checkNumberFieldLength(this);')
				.date
					#day(class='date__day')
					#time(class='date__time')
			#title-container
				h1 nicoputzehl.de
		main
			#home(class='content-wrap')
				.content-header
					.bar
					.content-title
						h2(id='page-title') #{title || 'TEST'}
				.content-container
					.content
						include includes/navigation.pug
						#main(class='text')
							block content
		include includes/foot.pug


	