extends layout

block links
	link(href='/'+nextId, rel='prerender')
	link(href='/'+prevId, rel='prerender')

block content

	- var img = image
	.movie-container.flex-center.swipezone
		.movie
			.left
				img(src=img)
			.right
				.watched am #{formatDate} gesehen
				include includes/scoring_mixin.pug
				.score
					| Meine Wertung:
					+scoring(myscore)
	.next-page.js-swipe
		a(href='/'+nextId) >	
	.prev-page.js-swipe
		a(href='/'+prevId) <