extends layout

block content
	.videotext-navigation
		each movie in movies
			.videotext-navigation__item
				.videotext-navigation__title #{movie.title}
				.videotext-navigation__number #{movie.pageId}