.breadcrumb {
	display: flex;

	&__location {
		padding:5px;
	}

	&__form {
		width: 35px;
	}
	&__input {
		background: transparent;
		color: var(--primary-color);
		border: none;
		padding: 5px;
		margin: 0;
		width: calc(100% + 5px);
		&:focus {
			outline: none !important;
		}
	}
}